<div class="desktop-tools-wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5">
      <div class="tool-title">
        <h1>TDEE Calculator</h1>
      </div>
      <div class="form-wrapper">
        <form 
        class="bmr-calculator-form" 
        autocomplete="off" 
        [formGroup]="tdeeForm" 
        (ngSubmit)="onSubmit()">

          <mat-radio-group #rGroup formControlName="gender" required='true' (ngModelChange)="onSubmit()">
            <mat-radio-button 
            style="padding-right: 1.5rem; padding-bottom:2rem;" 
            type="radio" 
            value="m" 
            radioGroup="rGroup"
            [checked] = 'true'
            >
            MALE
          </mat-radio-button>
            <mat-radio-button 
            type="radio" 
            value="f" 
            [checked] = 'false'
            radioGroup="rGroup"
            >
            FEMALE
          </mat-radio-button>
          </mat-radio-group>

          <mat-slider
          thumbLabel
          formControlName="age"
          tickInterval="auto"
          step ="1"
          min="16"
          max="80" 
          (ngModelChange)="onSubmit()">
        </mat-slider> 
        <span class="suffix" matSuffix>Y/O &nbsp;</span>

          <mat-slider
          thumbLabel
          formControlName="weight"
          tickInterval="auto"
          step ="1"
          min="30"
          max="180"
          (ngModelChange)="onSubmit()">
        </mat-slider> 
        <span class="suffix" matSuffix>KG &nbsp;</span>

          <mat-slider
          thumbLabel
        
          formControlName="height"
          tickInterval="auto"
          step ="1"
          min="100"
          max="280"
          (ngModelChange)="onSubmit()">
        </mat-slider> 
        <span class="suffix" matSuffix>CM &nbsp;</span>

        <mat-form-field>
          <mat-select #activityGroup [(value)] = "selected" [(ngModel)]="selectedValue" formControlName="activities" [placeholder]='initActivity' (ngModelChange)="onSubmit()">
            <mat-option selectGroup="#activityGroup" *ngFor="let activity of activities" [value]="activity.value">
              {{activity.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>


          <!-- <button mat-button color="accent" type="submit">Calculate</button> -->

        </form>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7">
          <div class="card result-card">
              <div class="card-body">
                <div class="row result-wrapper" style="padding-left: 1.5rem;">
                  <div style="padding-left: 1.5rem; padding-bottom:2rem; padding-top:2rem;" class="col-sm-12">
                    <h2>You're BMR Result:</h2>
                    <p style="font-size: 1.3rem;">Gender: {{genderStore}}</p>
                    <p style="font-size: 1.3rem;">Age: {{ageVar}}</p>
                    <p style="font-size: 1.3rem;">Weight: {{weightVar}} KG</p>
                    <p style="font-size: 1.3rem;">Height: {{heightVar}} CM</p>
                    <p style="font-size: 1.3rem;">Activity Level: {{activityStore}}</p>
                         <p style="font-size: 1.3rem;">Total Daily Energy Expenditure: {{tdeeVar}} Calories</p>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>




<!-- 
<section class="d-none d-lg-block">
  <div class="row desktop-tools-wrapper">
    <div class="col-sm-12 col-md-10 col-lg-10">
      <div class="row">
      <div class="col-sm-6">
        <div class="tool-title">
          <h1>TDEE Calculator</h1>
        </div>
        <div class="form-wrapper">
          <form class="bmr-calculator-form" autocomplete="off" [formGroup]="tdeeForm"
          (ngSubmit)="onSubmit()">

          <mat-form-field class="field-full-width">
            <input matInput type="number" placeholder="Age" formControlName="age">
            <span matSuffix>Years &nbsp;</span>
          </mat-form-field>

          <mat-form-field class="field-full-width">
            <input matInput type="number" placeholder="Weight" formControlName="weight">
            <span matSuffix>KG &nbsp;</span>
          </mat-form-field>

          <mat-form-field class="field-full-width">
            <input matInput type="number" placeholder="Height" formControlName="height">
            <span matSuffix>CM &nbsp;</span>
          </mat-form-field>
          <mat-form-field>
            <mat-select #activityGroup formControlName="activities" placeholder="Activity Level">
              <mat-option selectGroup="#activityGroup" *ngFor="let activity of activities" [value]="activity.value">
                {{activity.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />

          <button mat-button color="accent" type="submit">Calculate</button>

        </form>
          </div>
        </div>
        <div class="col-sm-6">
            <div class="row result-wrapper" style="padding-left: 1.5rem;" *ngIf="showResult === true">
                <div style="padding-left: 4.5rem; padding-bottom:2rem;" class="col-sm-12">
                  <h2>You're TDEE Result:</h2>
                     <p style="font-size: 1.6rem;">{{tdeeVar}} Calories</p>
                </div>
                <div class="col-sm-12">
                    <div class="result-buttons-panel">
                        <button mat-button color="primary" (click)="onReturn()">Edit</button>
                        <button mat-button color="warn" (click)="reset()">Reset</button>
                      </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>
 -->
