<div class="desktop-tools-wrapper">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5">
      <div class="tool-title">
        <h1>IIFYM Calculator</h1>
      </div>
      <div class="form-wrapper">
        <form 
        class="bmr-calculator-form" 
        autocomplete="off" 
        [formGroup]="iifymForm" 
        (ngSubmit)="onSubmit()">

          <mat-radio-group #rGroup formControlName="gender" required='true' (ngModelChange)="onSubmit()">
            <mat-radio-button 
            style="padding-right: 1.5rem; padding-bottom:2rem;" 
            type="radio" 
            value="m" 
            radioGroup="rGroup"
            [checked] = 'true'
            >
            MALE
          </mat-radio-button>
            <mat-radio-button 
            type="radio" 
            value="f" 
            [checked] = 'false'
            radioGroup="rGroup"
            >
            FEMALE
          </mat-radio-button>
          </mat-radio-group>

          <br />

          <mat-radio-group #goalGroup formControlName="goal" required='true' (ngModelChange)="onSubmit()">
            <mat-radio-button 
            style="padding-right: 1.5rem; padding-bottom:2rem;" 
            type="radio" 
            value="c"
            [checked] = 'true'
            radioGroup="goalGroup"
            >
            CUTTING
          </mat-radio-button>

            <mat-radio-button 
            type="radio" 
            value="b" 
            [checked] = 'false'
            radioGroup="goalGroup"
            >
            BULKING
          </mat-radio-button>
          </mat-radio-group>

          <mat-slider
          thumbLabel
          formControlName="age"
          tickInterval="auto"
          step ="1"
          min="16"
          max="80" 
          (ngModelChange)="onSubmit()">
        </mat-slider> 
        <span class="suffix" matSuffix>Y/O &nbsp;</span>

          <mat-slider
          thumbLabel
          formControlName="weight"
          tickInterval="auto"
          step ="1"
          min="30"
          max="180"
          (ngModelChange)="onSubmit()">
        </mat-slider> 
        <span class="suffix" matSuffix>KG &nbsp;</span>

          <mat-slider
          thumbLabel
        
          formControlName="height"
          tickInterval="auto"
          step ="1"
          min="100"
          max="280"
          (ngModelChange)="onSubmit()">
        </mat-slider> 
        <span class="suffix" matSuffix>CM &nbsp;</span>

        <mat-form-field>
          <mat-select 
          #activityGroup [(value)] = "selected" 
          [(ngModel)]="selectedValue" 
          formControlName="activities" 
          [placeholder]='initActivity' 
          (ngModelChange)="onSubmit()">
            <mat-option 
            selectGroup="#activityGroup" 
            *ngFor="let activity of activities" 
            [value]="activity.value">
              {{activity.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>


          <!-- <button mat-button color="accent" type="submit">Calculate</button> -->

        </form>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7">
          <div class="card result-card">
              <div class="card-body">
                <div class="row result-wrapper">
                  <div style="padding-bottom:2rem; padding-top:2rem;" class="col-sm-12">
                    <h2>You're Macronutrient Breakdown:</h2>
                    <mat-accordion class="example-headers-align">
                      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title *ngIf="goalSwitch === false">
                            Aggressive Cut
                          </mat-panel-title>
                          <mat-panel-title *ngIf="goalSwitch === true">
                            Cautious Bulk
                          </mat-panel-title>
                          <mat-panel-description *ngIf="goalSwitch === false">
                            Extremely Low Calorie
                          </mat-panel-description>
                          <mat-panel-description *ngIf="goalSwitch === true">
                            Moderate Calorie Surplus
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                            <p *ngIf="goalSwitch === false">Calories: {{kcalCut1}}</p>
                            <p *ngIf="goalSwitch === false">Protein: {{proteinCut1}}g</p>
                            <p *ngIf="goalSwitch === false">Carbs: {{carbCut1}}g</p>
                            <p *ngIf="goalSwitch === false">Fats: {{fatCut1}}g</p>
                            <p *ngIf="goalSwitch === false">Loss Per Week: {{lossPWCut1}} lbs</p>
    
                            <p *ngIf="goalSwitch === true">Calories: {{kcalBulk1}}</p>
                            <p *ngIf="goalSwitch === true">Protein: {{proteinBulk1}}g</p>
                            <p *ngIf="goalSwitch === true">Carbs: {{carbBulk1}}g</p>
                            <p *ngIf="goalSwitch === true">Fats: {{fatBulk1}}g</p>
                            <p *ngIf="goalSwitch === true">Gain Per Week: {{gainPWBulk1}} lbs</p>
        
                        <mat-action-row>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>
    
                      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title *ngIf="goalSwitch === false">
                            Suggested Cut
                          </mat-panel-title>
                          <mat-panel-title *ngIf="goalSwitch === true">
                            Textbook Bulk
                          </mat-panel-title>
                          <mat-panel-description *ngIf="goalSwitch === false">
                            Moderate Calorie Deficit
                          </mat-panel-description>
                          <mat-panel-description *ngIf="goalSwitch === true">
                            High Calorie Surplus
                          </mat-panel-description>
                        </mat-expansion-panel-header>
    
                            <p *ngIf="goalSwitch === false">Calories: {{kcalCut2}}</p>
                            <p *ngIf="goalSwitch === false">Protein: {{proteinCut2}}g</p>
                            <p *ngIf="goalSwitch === false">Carbs: {{carbCut2}}g</p>
                            <p *ngIf="goalSwitch === false">Fats: {{fatCut2}}g</p>
                            <p *ngIf="goalSwitch === false">Loss Per Week: {{lossPWCut2}} lbs</p>
    
                            <p *ngIf="goalSwitch === true">Calories: {{kcalBulk2}}g</p>
                            <p *ngIf="goalSwitch === true">Protein: {{proteinBulk2}}g</p>
                            <p *ngIf="goalSwitch === true">Carbs: {{carbBulk2}}g</p>
                            <p *ngIf="goalSwitch === true">Fats: {{fatBulk2}}g</p>
                            <p *ngIf="goalSwitch === true">Gain Per Week: {{gainPWBulk2}} lbs</p>
           
                        <mat-action-row>
                          <button mat-button color="warn" (click)="prevStep()">Previous</button>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>
    
                      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Maintain Weight
                          </mat-panel-title>
                          <mat-panel-description>
                            Maintenance Calories
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Calories: {{kcalMaintain}}</p>
                        <p>Protein: {{proteinMaintain}}g</p>
                        <p>Carbs: {{carbMaintain}}g</p>
                        <p>Fats: {{fatMaintain}}g</p>
                        <mat-action-row>
                          <button mat-button color="warn" (click)="prevStep()">Previous</button>
                          <button mat-button color="primary" (click)="nextStep()">End</button>
                        </mat-action-row>
                      </mat-expansion-panel>
    
                    </mat-accordion>
                    <!-- <p style="font-size: 1.3rem;">Gender: {{genderStore}}</p>
                    <p style="font-size: 1.3rem;">Age: {{ageVar}}</p>
                    <p style="font-size: 1.3rem;">Weight: {{weightVar}} KG</p>
                    <p style="font-size: 1.3rem;">Height: {{heightVar}} CM</p>
                    <p style="font-size: 1.3rem;">Activity Level: {{activityStore}}</p>
                         <p style="font-size: 1.3rem;">Total Daily Energy Expenditure: {{tdeeVar}} Calories</p> -->
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>

