<section>
    <div class="row justify-content-center tools-calc-wrapper">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
              <mat-card class="tools-calc-card animate-pop-in">
                  <mat-card-header>
                    <mat-card-title class="tools-calc-card-title">BMR Calculator</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <form 
                    class="bmr-calculator-form"
                    autocomplete="off"
                    *ngIf="show !== false"
                    [formGroup]="iifymForm"
                     (ngSubmit)="onSubmit()">
    
                     <mat-radio-group #genderGroup formControlName="gender">
                        <mat-radio-button type="radio"  value="m" radioGroup="genderGroup" >MALE</mat-radio-button>
                        <mat-radio-button  type="radio" value="f" radioGroup="genderGroup" >FEMALE</mat-radio-button>
                      </mat-radio-group>
        
                      <mat-form-field class="field-full-width">
                        <input 
                        matInput 
                        type="number"
                        placeholder="Age"
                        formControlName="age">
                        <span matSuffix>Years &nbsp;</span>
                      </mat-form-field>
        
                      <mat-form-field class="field-full-width">
                        <input 
                        matInput 
                        type="number"
                        placeholder="Weight"
                        formControlName="weight">
                        <span matSuffix>KG &nbsp;</span>
                      </mat-form-field>
    
                      <mat-form-field class="field-full-width">
                          <input 
                          matInput 
                          type="number"
                          placeholder="Height"
                          formControlName="height">
                          <span matSuffix>CM &nbsp;</span>
                        </mat-form-field>

                        <mat-radio-group #goalGroup formControlName="goal">
                            <mat-radio-button type="radio"  value="c" radioGroup="goalGroup" >CUTTING</mat-radio-button>
                            <mat-radio-button  type="radio" value="b" radioGroup="goalGroup" >BULKING</mat-radio-button>
                          </mat-radio-group>

                          <mat-form-field>
                              <mat-select #activityGroup formControlName="activities" placeholder="Activity Level">
                                <mat-option selectGroup="#activityGroup" *ngFor="let activity of activities" [value]="activity.value">
                                  {{activity.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
        
                      <button mat-button color="primary" type="submit">Calculate</button>
        
                    </form>

                    <mat-accordion *ngIf="show === false" class="example-headers-align">
                      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Aggressive Cut
                          </mat-panel-title>
                          <mat-panel-description>
                            Extremely Low Calorie
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                          <div class="col-md-5">
                          <p>Calories: </p>
                          <p>Protein: </p>
                          <p>Carbs: </p>
                          <p>Fats: </p>
                          <p *ngIf="goalSwitch === false"> Loss Per Week: </p>
                          <p *ngIf="goalSwitch === true"> Gain Per Week: </p>
                        </div>
                        <div class="col-md-7">
                            <p *ngIf="goalSwitch === false">{{kcalCut1}}</p>
                            <p *ngIf="goalSwitch === false">{{proteinCut1}}</p>
                            <p *ngIf="goalSwitch === false">{{carbCut1}}</p>
                            <p *ngIf="goalSwitch === false">{{fatCut1}}</p>
                            <p *ngIf="goalSwitch === false">{{lossPWCut1}}</p>

                            <p *ngIf="goalSwitch === true">{{kcalBulk1}}</p>
                            <p *ngIf="goalSwitch === true">{{proteinBulk1}}</p>
                            <p *ngIf="goalSwitch === true">{{carbBulk1}}</p>
                            <p *ngIf="goalSwitch === true">{{fatBulk1}}</p>
                            <p *ngIf="goalSwitch === true">{{gainPWBulk1}}</p>
                        </div>
                        </div>
                        <mat-action-row>
                          <button mat-button color="primary" (click)="reset()">Reset</button>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                    
                      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Suggested Cut
                          </mat-panel-title>
                          <mat-panel-description>
                            Low Calorie
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                    
                        <p>Calories: {{kcalCut2}}</p>
                        <p>Protein: {{proteinCut2}}</p>
                        <p>Carbs: {{carbCut2}}</p>
                        <p>Fats: {{fatCut2}}</p>
                        <p>Loss Per Week: {{lossPWCut2}}</p>
                    
                        <mat-action-row>
                          <button mat-button color="warn" (click)="prevStep()">Previous</button>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                    
                      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Maintain Weight
                          </mat-panel-title>
                          <mat-panel-description>
                            Maintenance Calories
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Calories: {{kcalMaintain}}</p>
                        <p>Protein: {{proteinMaintain}}</p>
                        <p>Carbs: {{carbMaintain}}</p>
                        <p>Fats: {{fatMaintain}}</p>
                        <mat-action-row>
                          <button mat-button color="warn" (click)="prevStep()">Previous</button>
                          <button mat-button color="primary" (click)="nextStep()">End</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                    
                    </mat-accordion>
                    
                  </mat-card-content>
                </mat-card>
          </div>
        </div>
      </div>
    </div>
    </section>
