<!-- <section>
  <div class="row justify-content-center user-account-wrapper">
    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-12">
          <mat-card class="user-account-card animate-pop-in">
            <mat-card-header>
              <mat-card-title class="user-account-card-title">Account Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col-sm-12">
                   <form [formGroup]="accFormGroup"  class="user-account-form" autocomplete="off">
                    <mat-form-field *ngFor="let user of users | async" class="field-full-width">
                      <mat-label>Display Name</mat-label>
                      <input formControlName="displayNameCtrl" matInput type="text" [value]='user.data.displayName'>
                      <mat-error>Invalid Display Name</mat-error>
                    </mat-form-field> -->

                    <!-- <mat-form-field *ngFor="let user of users | async" class="field-full-width">
                      <mat-label>Email..</mat-label>
                      <input matInput formControlName="emailCtrl" type="email" [placeholder]="user.data.displayName">
                      <mat-icon matSuffix>mode_edit</mat-icon>
                      <mat-error>Invalid Email Address</mat-error>
                    </mat-form-field> -->
                    <!-- <mat-form-field class="field-full-width">
                      <input matInput type="password" placeholder="Current Password">
                      <mat-icon matSuffix>mode_edit</mat-icon>
                      <mat-error>Missing password.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="field-full-width">
                      <input matInput type="password" placeholder="New Password">
                      <mat-icon matSuffix>mode_edit</mat-icon>
                      <mat-error>Missing password.</mat-error>
                    </mat-form-field>

                    <div class="row justify-content-center">
                      <div class="col-6">
                        <button mat-raised-button color color="primary" type="submit">Submit Changes</button>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</section>  -->