@import 'src/assets/sass/abstracts/_variables.scss';
.cardContrainer{
  display: inline-flex;
  justify-content: center;
  height: 100%;
  
  
  .example-card {
    max-width: 400px;
    margin-bottom: 2rem;
    .card-title {
      font-size: 1.8rem;
      font-weight: bold;
      color:white;
    }
    .mat-card-content {
      font-size: 1.3rem;
    }
  }

}