<section>
  <div class="row justify-content-center tools-calc-wrapper">
    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-12">
          <mat-card class="tools-calc-card animate-pop-in">
            <mat-card-header>
              <mat-card-title class="tools-calc-card-title">Calorie Calculator</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col-sm-12">
                  <form class="calorie-calculator-form" *ngIf="showResult === false" autocomplete="off" [formGroup]="caloriesForm" (ngSubmit)="onSubmit()">

                    <mat-form-field class="field-full-width">
                      <input matInput type="number" placeholder="Carbohydrates" formControlName="carbs">
                      <span matSuffix>grams &nbsp;</span>
                      <mat-error>Invalid or missing email.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="field-full-width">
                      <input matInput type="number" placeholder="Fats" formControlName="fats">
                      <span matSuffix>grams &nbsp;</span>
                      <mat-error>Missing password.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="field-full-width">
                      <input matInput type="number" placeholder="Protein" formControlName="protein">
                      <span matSuffix>grams &nbsp;</span>
                      <mat-error>Missing password.</mat-error>
                    </mat-form-field>

                    <button mat-button color="primary" type="submit">Calculate</button>

                  </form>
                  <div style="padding-left: 1.5rem;" *ngIf="showResult === true" class="row">
                      <div class="col-sm-12">
                      <h2>Total Calorie Intake:</h2>
                       <p style="font-size: 1.6rem;">{{caloriesVar}} Calories</p>
                      </div>
                  </div>
                  <mat-action-row *ngIf="showResult === true" > 
                      <button mat-button color="primary" (click)="onReturn()">Edit</button>
                      <button mat-button color="warn" (click)="reset()">Reset</button>
                    </mat-action-row>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</section>