<app-navigation-main></app-navigation-main>
<div>
    <ul class="breadcrumb">
      <li><a routerLink="">Home</a></li>
      <li>Signup</li>
    </ul>
  </div>
  
  <section class="row justify-content-center signup-wrapper">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
              <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fill out your name</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="First name" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Last name" formControlName="secondCtrl" required>
                      </mat-form-field>
                    <div>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>About you</ng-template>
                    <mat-form-field class="example-full-width">
                        <input formControlName="firstCtrl" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Date of birth">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <br/>

                      <mat-radio-group formControlName="fourthCtrl">
                        <mat-radio-button value="Male">Male</mat-radio-button>
                        <mat-radio-button value="Female">Female</mat-radio-button>
                      </mat-radio-group>

                      <br/>
                      <mat-form-field>
                          <input matInput placeholder="Height" formControlName="secondCtrl" required>
                        </mat-form-field>
                        <br/>
                        <mat-form-field>
                            <input matInput placeholder="Weight" formControlName="thirdCtrl" required>
                          </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext (click)="onSubmit()">Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  You are now done.
                  <div>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </section>