<app-navigation-main></app-navigation-main>
<div>
    <ul class="breadcrumb">
      <li><a routerLink="">Home</a></li>
      <li>Tools</li>
    </ul>
  </div>
  <section class="row justify-content-center tools-wrapper-row1">
  <div class="col-md-3">
      <mat-card class="tools-card">
          <mat-card-header>
            <mat-card-title class="tools-card-title">Calorie Calculator</mat-card-title>
            <mat-card-subtitle>Nutrition App's</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="src/assets/images/_tools-card-img001.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Calorie Calculator is a good way to get started with you're weight loss journey. The app allows you to customise you're
              macronutrients so that you are able to plan ahead with your meals.  The tool is ideal for calorie tracking and meal planning on
              calorie restricted diets.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button routerLink="/tools/calories-calculator">VIEW</button>
          </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card class="tools-card">
            <mat-card-header>
              <mat-card-title class="tools-card-title">IIFYM Calculator </mat-card-title>
              <mat-card-subtitle>Nutrition App's</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="src/assets/images/_tools-card-img002.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                IIFYM follows the moto of 'If It Fits Your Macros Eat It'. The IIFYM Calculator will give you a calculated result of
                you're macronutrients customised to you're profile. IIFYM is great for Bulking, Maintaining and Weight Loss and the app will
                give you a calculated result for you're goals.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>VIEW</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="col-md-3">
            <mat-card class="tools-card">
                <mat-card-header>
                  <mat-card-title class="tools-card-title">BMR Calculator</mat-card-title>
                  <mat-card-subtitle>Nutrition App's</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="src/assets/images/_tools-card-img003.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    BMR is a measurement of the number of calories needed to perform your body's most basic (basal)
                    functions, like breathing, circulation and cell production.  The BMR calculator is usual to find out the base number of calories you need to survive on day-to-day.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button routerLink="/tools/bmr-calculator">VIEW</button>
                </mat-card-actions>
              </mat-card>
            </div>


  </section>
