
<div class="row tools-content-wrapper">
<div class="col-xs-12 col-md-11 col-lg-10 col-lg-push-1">
<div class="toolWrapper">
        <mat-tab-group >
            <mat-tab color="primary" routerLink="/tools/calorie-calculator" label="Calorie Calculator">
              <app-calorie-calculator></app-calorie-calculator>
                </mat-tab>

            <mat-tab color="primary" routerLink="/tools/bmr-calculator" label="BMR Calculator"> 
              <app-bmr-calculator></app-bmr-calculator>
                </mat-tab>

            <mat-tab routerLink="/tools/calorie-calculator" label="IIFYM Calculator">
              <app-macro-calculator></app-macro-calculator>
                </mat-tab>

            <mat-tab color="primary" routerLink="/tools/bmr-calculator" label="TDEE Calculator"> 
              <app-tdee-calculator></app-tdee-calculator>
            </mat-tab>
            <mat-tab color="primary" label="Cardio Tracker"> 
              <app-cardio-tracking></app-cardio-tracking>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      </div>