<div class="container">
    <h3 mat-dialog-title>Add new exercise</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" [formGroup]="cardioTrackerForm">
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" formControlName="exerciseCtrl" type="text" placeholder="Exercise Name" required >
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" formControlName="durationCtrl" type="number" placeholder="Duration" maxlength="3" required>
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput class="form-control" formControlName="caloriesCtrl" type="number" placeholder="Calories"  maxlength="4" required>
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-button [type]="submit" [mat-dialog-close]="1" (click)="confirmEdit()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>