@import url('https://fonts.googleapis.com/css?family=Lato');
@import "src/assets/sass/abstracts/_mixins.scss";
@import "src/assets/sass/abstracts/_variables.scss";

.app-home-header {
  height: 85vh;
  z-index: 0;
}

  .app-home-header-img{
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 1;
    z-index: 0;
  }

.home-content-wrapper{
  padding-top:7rem !important;
  max-width:85rem;
  min-width:25rem;
  margin:0 auto !important;
  font-family: 'Lato', sans-serif;
}

  .row-header {
    color:white;
    font-weight: bold;
    font-size: 3.6rem;
  }

.content-container{
  font-size: 1.6rem;
  color:white;
  padding-top: 3rem;

h3 {
  padding-top:.3rem;
  padding-bottom: .3rem; 
}

.element-1 {
  border-top:4px solid gold;
  word-break: break-word;
  .element-content {
    font-size: 1.3rem;
    color: darkgrey;
    
  }
  .button {
    color: white;
    text-decoration: none;
    &:hover {
      color: gold;
    }
  }
}
  .element-2 {
    border-top:4px solid gold;
    .element-content {
      font-size: 1.3rem;
      color: darkgrey;
    }
    .button {
      color: white;
      text-decoration: none;
      &:hover {
        color: gold;
      }
    }
  }
    .element-3 {
      border-top:4px solid gold;
      .element-content {
        font-size: 1.3rem;
        color: darkgrey;
      }
      .button {
        color: white;
        text-decoration: none;
        &:hover {
          color: gold;
        }
      }
    }
      .element-4 {
        border-top:4px solid gold;
        .element-content {
          font-size: 1.3rem;
          color: darkgrey;
        }
        .button {
          color: white;
          text-decoration: none;
          &:hover {
            color: gold;
          }
        }
      }
    }

