@import "src/assets/sass/abstracts/_mixins.scss";
@import "src/assets/sass/abstracts/_variables.scss";
@import "src/assets/sass/base/animations.scss";

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}
.signup-wrapper{
    background-image:url("src/assets/images/background1.jpg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom right;
    height: 80vh;
    padding:0!important;
    margin: 0 !important;
    .signup-card {
      max-width: 100%;
      padding: 4rem;
      margin-top: 3rem;
      animation-delay: .8s;
      .signup-card-title{
        color: $secondaryColor;
        font-size: 2.5em;

      }
          
      .example-form {
        min-width: 15rem;
        max-width: 50rem;
        width: 100%;
      }
      
      .example-full-width {
        width: 100%;
        padding-bottom:1.5rem; 
        font-size: 1.8rem;
      }
  
    }
  }

  .mat-card-header{
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
  }

  .mat-card-content{
    display: flex;
    justify-content: center;
  }

  .mat-card-actions{
    display: flex;
    justify-content: center;
  }
  .mat-button{
    font-size: 1.7rem;
  }