@import "src/assets/sass/abstracts/_mixins.scss";
@import "src/assets/sass/abstracts/_variables.scss";
@import "src/assets/sass/base/animations.scss";
@import "src/assets/sass/components/_material.scss";

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}
.tools-calc-wrapper{
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom right;
    height: 100vh;
    padding:0!important;
    margin: 0 !important;
    .tools-calc-card {
      max-width: 100%;
      padding: 4rem;
      margin-top: 3rem;
      animation-delay: .5s;
      .tools-calc-card-title{
        color: $secondaryColor;
        font-size: 2.5em;

      }
          
      .bmr-calculator-form {
        min-width: 15rem;
        max-width: 50rem;
        width: 100%;
      }
      
      .field-full-width {
        width: 100%;
        padding-bottom:1.5rem; 
        font-size: 1.8rem;
      }
    }
  }
