<div id="nav-wrapper">
    <nav id="app-navigation" class="navbar navbar-expand-sm navbar-light bg-faded">
        
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" style="padding-bottom: 2.5rem; padding-top: 2.5rem; padding-left: 2.5rem;" routerLink="/">
            <img src="src/assets/images/logo.png" width="150" height="50" class="d-inline-block align-top" alt="">
    </a>

      <!-- Links -->
      <div class="collapse navbar-collapse justify-content-end" id="nav-content">
      <ul class="navbar-nav">
    <!--<li class="nav-item">
    <a class="nav-link" routerLink="">Home</a>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">{{navElementOne | uppercase}}</a>
      </li>
      <li *ngIf="isAuthenticated()" class="nav-item">
      <a class="nav-link" routerLink="/tools">{{navElementTwo | uppercase}}</a>
      </li>
      <li *ngIf="isAuthenticated()" class="nav-item">
        <a class="nav-link" style="cursor: pointer">{{navElementSix | uppercase}}</a>
        </li>
      <!--<li class="nav-item">
          <a class="nav-link" routerLink="/blog">Blog</a>
          </li>-->
      <li *ngIf="!isAuthenticated()" class="nav-item">
      <a class="nav-link" routerLink="/auth/signup">{{navElementThree | uppercase}}</a>
      </li>
      <li *ngIf="!isAuthenticated()" class="nav-item">
      <a class="nav-link" routerLink="/auth/login">{{navElementFour | uppercase}}</a>
      </li>
      <li *ngIf="isAuthenticated()" class="nav-item">
        <a class="nav-link" style="cursor: pointer" (click)="onLogout()">{{navElementFive | uppercase}}</a>
        </li>
      </ul>
    </div>
    </nav>
    </div>
