.mat-card-header{
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
  }

  .mat-card-content{
    display: flex;
    justify-content: center;
  }

  .mat-card-actions{
    display: flex;
    justify-content: center;
  }
  .mat-button{
    font-size: 1.7rem;
  }

  .mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }
  .example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  max-width: 100%;
}