<header class="app-home-header">
  <div class="app-home-header-img">

    <app-navigation-home></app-navigation-home>

    <div class="row home-content-wrapper animate-pop-in">
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-12">
            <div class="row justify-content-center home-intro-text-wrapper">
              <div class="col-md-8">

                <h1 class="header-intro-text animate-pop-in" style="text-align: center"> {{header | uppercase}}</h1>
              </div>
            </div>

            <div class="row justify-content-center home-intro-subtext-wrapper">
            <div class="col-md-6">

              <h2 class="header-intro-subtext animate-pop-in" style="text-align: center">{{subtitle | uppercase}}</h2>
            </div>
            </div>
          </div>
        </div>

      <div class="row justify-content-center home-signup-wrapper animate-pop-in">
        <div class="col-md-4">
          <app-singup-form>
          </app-singup-form>
        </div>
        </div>

      </div>
    </div>

  </div>
</header>
