<header class="app-home-header">

  <div class="app-home-header-img">
    <div class="row home-content-wrapper">
      <div class="col-xs-12">

        <div class="row">
          <div class="col-xs-12">
            <div class="heading-block">
              <h1 class="row-header">
                CALCULATORS
              </h1>
            </div>
          </div>
        </div>
        <div class="row content-container">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="element-1">
                  <h3>
                    BMR Calculator
                  </h3>
                  <p class="element-content">
                    The BMR refers to the number of calories your body
                    burns while at rest to maintain vital functions like brain activity,
                    heartbeat and digestion. This accounts for 50 to 75% of your daily caloric expenditure.
                  </p>
                  <span>
                    <a href="/" class="button">
                      Calculate
                    </a>
                  </span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="element-2">
                  <h3>
                    TDEE Calculator
                  </h3>
                  <p class="element-content">
                    TDEE stands for ‘Total Daily Energy Expenditure’,
                    which is the total number of calories your body is burning each day – and,
                    by extension, the number of calories that you’d need to eat each day to maintain your current
                    weight.
                  </p>
                  <span>
                    <a class="button">
                      Calculate
                    </a>
                  </span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="element-3">
                  <h3>
                    IIFYM Calculator
                  </h3>
                  <p class="element-content">
                    IIFYM, or “If It Fits Your Macros,” is a type of flexible dieting
                    that helps people lose weight without feeling overly restricted. Rather than focusing on calories,
                    IIFYM tracks macronutrients instead — namely protein, fat and carbohydrates.
                  </p>
                  <span>
                    <a class="button">
                      Calculate
                    </a>
                  </span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="element-4">
                  <h3>
                    Macro to calories converter
                  </h3>
                  <p class="element-content">
                    The Macro to calories converter, converts macronutrients into calories.
                    This is useful when trying to workout a suitable macronutrient breakdown of calories.
                  </p>
                  <span>
                    <a class="button">
                      Calculate
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>






      </div>
    </div>

  </div>
</header>